@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

article {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Nunito", sans-serif;
  min-height: 100%;
  margin-bottom: 50px;
}

.titulo {
  font-size: 30px;
}

.titulo h2 {
  font-weight: 300;
}

.containerPerguntas {
  height: auto;
  margin-bottom: auto;
}

.perguntas {
  padding-top: 20px;
  font-size: 18px;
  padding-left: 10px;
}

.perguntas h3 {
  font-weight: bold;
}

.perguntas p {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 20px;
  box-sizing: border-box;
}

.perguntas img {
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 10px;
  transition: transform 0.5s ease;
}

@media (max-width: 767px) {
  article {
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Nunito", sans-serif;
    min-height: 100%;
    margin-bottom: 50px;
  }

  .titulo {
    font-size: 30px;
  }

  .titulo h2 {
    font-weight: 300;
  }

  .containerPerguntas {
    height: auto;
    margin-bottom: auto;
  }

  .perguntas {
    padding-top: 20px;
    font-size: 23px;
    padding-left: 10px;
  }

  .perguntas h3 {
    font-weight: bold;
    font-size: 20px;
  }

  .perguntas p {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
  }

  .perguntas img {
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 10px;
    transition: transform 0.5s ease;
  }
}
