@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
  height: 60px;
  background-color: rgba(54, 92, 183, 1);
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 300;
  align-items: center;
  text-align: center;
}

.container p {
  padding-right: 50px;
  color: white;
}

@media (max-width: 767px) {
  footer {
    height: 200px;
    width: 100%;
    background-color: rgba(54, 92, 183, 1);
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0;
    font-weight: 300;
  }

  .container p {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
