* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
  width: 100vw;
}

.animaLeft {
  transform: translateX(-60px);
  opacity: 0;
  animation: animaLeft 3s forwards;
  display: block;
}

.animaRight {
  transform: translateY(-60px);
  opacity: 0;
  animation: animaRight 3s forwards;
}

.animaSlow {
  transform: translateX(-200px);
  opacity: 0;
  animation: animaSlow 5s forwards;
}

.piscar {
  animation: piscar 2s infinite;
}

.js-scroll {
  display: block;
}

.girar {
  transform: rotate(-90deg);
  transition: transform 0.5s ease;
}

.displayNone {
  display: none;
}
@keyframes piscar {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animaLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

@keyframes animaRight {
  to {
    transform: initial;
    opacity: initial;
  }
}

@keyframes animaSlow {
  to {
    transform: initial;
    opacity: initial;
  }
}
